---
import Layout from "../layouts/Layout.astro";
import SearchForm from "../components/SearchForm.astro";
import ProductCard from "../components/ProductCard.astro";
import Button from "../components/shared/Button.astro";
import lucasProfile from "../images/lucas_profile.jpg";

import { getHomePageProducts } from "../actions/products";

const { marqueeBreads, bakersSpecials } = await getHomePageProducts();
---

<Layout>
  <main>
    <section
      class="flex flex-col items-center justify-center relative text-gray-100 h-[75vh] md:h-[60vh] overflow-hidden text-center px-4 gap-2 md:gap-8 bg-[url('../images/main-bg.jpg')] bg-cover bg-bottom sm:bg-center bg-black/40 bg-blend-overlay"
    >
      <h1
        class="text-4xl md:text-6xl font-bold max-w-4xl leading-tight hover:text-warm-gold transition ease-in-out"
      >
        Handcrafted Sourdough, Baked with Passion.
      </h1>
      <p class="text-sm py-4 sm:text-2xl">
        Freshly baked daily with locally sourced ingredients.
      </p>
      <Button href="/products" align="self-center">Explore Our Loaves</Button>
    </section>
    <!-- Featured Products -->
    <section class="py-6 px-4 md:max-w-6xl md:mx-auto">
      <SearchForm />
      <div class="flex flex-col gap-4 py-4">
        <h2 class="text-xl md:text-3xl font-bold text-earthy-brown">
          Our Breads
        </h2>
        <p class="text-base md:text-lg">
          Choose from our selection of fresh, handcrafted sourdough loaves.
        </p>
        <div class="overflow-hidden w-full">
          <div class="flex gap-4 animate-marquee w-max">
            {
              marqueeBreads?.map((product) => (
                <div class="shrink-0">
                  <ProductCard
                    src={product.image}
                    productName={product.name}
                    description={product.description.summary}
                    href={`/products/${product.slug}`}
                    size="large"
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section class="py-6 px-4 md:max-w-6xl md:mx-auto">
      <h2 class="col-span-2 text-xl md:text-3xl font-bold text-earthy-brown">
        Baker's Specials
      </h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-4">
        {
          bakersSpecials?.map((product) => (
            <ProductCard
              src={product.image}
              productName={product.name}
              price={product.price}
              href={`/products/${product.slug}`}
            />
          ))
        }
      </div>
    </section>
    <section class="py-6 px-4">
      <article
        class="bg-warm-beige p-6 rounded-lg shadow-sm max-w-3xl mx-auto flex flex-col gap-4 mb-4"
      >
        <div
          class="h-20 w-20 md:h-32 md:w-32 lg:h-40 lg:w-40 lg:mt-6 rounded-full mx-auto overflow-hidden my-4"
        >
          <img
            src={lucasProfile.src}
            alt="Luca"
            class="w-full h-full object-cover"
          />
        </div>
        <h2
          class="text-xl md:text-2xl lg:text-3xl font-bold text-earthy-brown text-center py-2"
        >
          About Luca
        </h2>
        <p
          class="text-center text-gray-500 text-balance max-w-2xl md:text-lg lg:text-xl mx-auto mb-4 leading-relaxed"
        >
          "For me, baking is more than just a process; it's a passion. I started
          Luca's Loaves to share the joy of truly authentic sourdough, made
          slowly and with the finest local ingredients. Every loaf tells a story
          of tradition, patience, and love."
        </p>
        <Button href="/classes" align="self-center">Check our Classes!</Button>
      </article>
    </section>
  </main>
</Layout>
