---
import Layout from "../layouts/Layout.astro";
import Header from "../components/shared/Header.astro";

import SearchForm from "../components/SearchForm.astro";
import ProductCard from "../components/ProductCard.astro";
import { products } from "../actions/products";
const allProducts = await products();
---

<Layout>
  <Header />
  <main class="pt-16 flex flex-col grow">
    <section class="py-6 px-4">
      <SearchForm />
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 py-4">
        {
          allProducts?.map((product) => (
            <ProductCard
              src={product.image}
              productName={product.name}
              price={product.price}
              description={product.description.summary}
              href={`/products/${product.slug}`}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  body {
    background-color: #f0f0ea;
  }
</style>
