---
import Button from "./shared/Button.astro";
const { title, location, type, description, applyLink } = Astro.props;
---

<article
  class="flex flex-col justify-between gap-2 p-4 bg-gray-100 rounded-lg text-sm shadow-md border border-warm-gold/30 w-full"
>
  <small class="text-gray-600 md:text-base lg:text-lg"
    >{type} • {location}</small
  >
  <h3 class="font-bold text-earthy-brown md:text-lg lg:text-xl">{title}</h3>
  <p class="text-gray-500 pb-4 md:text-base lg:text-lg">
    {description}
  </p>

  <Button href={applyLink}>Apply Now</Button>
</article>
