---
interface Props {
  src: string;
  productName: string;
  price?: string | number;
  description?: string;
  href?: string;
  size?: "large" | "default";
}

const {
  src,
  productName,
  price,
  description,
  href,
  size = "default",
} = Astro.props;

// Define size classes based on the size prop
const sizeClasses = {
  large: "shrink-0 w-50 md:w-72 h-50 md:h-72",
  default: "w-full h-40 md:h-60",
};

const imageClass = `${sizeClasses[size]} object-cover rounded-lg`;
---

<article
  class={size === "large"
    ? "shrink-0 flex flex-col gap-2"
    : "flex flex-col gap-2"}
>
  <a href={href}>
    <img class={imageClass} src={src} alt={productName} loading="lazy" />
  </a>
  <footer>
    <h3 class="text-earthy-brown font-bold md:text-lg">{productName}</h3>
    {
      description && (
        <small class="text-sm md:text-base text-gray-500">{description}</small>
      )
    }
    {
      price && (
        <div class="flex justify-between items-center mt-2">
          <small class="text-gray-700 font-medium md:text-base lg:text-base">
            ${price}
          </small>
          <button
            class="snipcart-add-item bg-warm-gold text-white px-3 py-1 rounded-lg text-sm hover:bg-warm-gold/90 transition-colors cursor-pointer"
            data-item-id={productName}
            data-item-price={price}
            data-item-url={href}
            data-item-description={description}
            data-item-image={src}
            data-item-name={productName}
          >
            Add
          </button>
        </div>
      )
    }
  </footer>
</article>
